.animate-colorizer {
  animation: pulse 3s infinite;
  display: inline-block;
}

@keyframes pulse {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.animate-colorize:hover {
  border: 1px solid red;
}
